.instaEmbed Header{
    display: none !important;
}
.HoverCard,.Feedback,.SocialProof,.Caption,.Footer{
    display: none !important;
}

.instaEmbed{
    transform: translateY(-54px);
}
.insta-container{
    height: 377px;
    overflow: hidden !important;
}

.insta-logo{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
    border-radius: 10px;
}